body{
	background: url(../images/silk.jpg)fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

h1{
	font-family: 'Audiowide', cursive;
	font-size: 55px;
	color: #7df058;
	text-shadow: 2px 2px #ff0000;
	
	position:relative;
	float:right;
	right:15%;
	top:7px;
}

h2,h3,p{
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size: 30px;
	
	color:black;

	top:40px;
	left:50px;

	letter-spacing: 2px;
	text-shadow:
	    -1px -1px 0 #fff,
	    1px -1px 0 #fff,
	    -1px 1px 0 #fff,
	    1px 1px 0 #fff;
}

/* --------------- Character box */

#line1{
	position:relative;
	left: 7%;
}

#characters {
	position:relative;
	top:50px;
	left:7%;

	width:auto;
	height:auto;

	text-align: center;
}

div img{
	background-repeat: no-repeat;
	background-size: 100% 100%;

	min-height:150px;
	max-height:150px;
	min-width:150px;
	max-width:150px;

	float:left;

	border-radius: 10px;
	border: solid 2px grey;

	box-sizing: border-box;
	margin-top: 15px;
	margin-left: 15px;
	margin-right: 15px;
}

#opp {
	position:fixed;
	top:50px;
	left:30%;

	width:auto;
	height:auto;

	text-align: center;
}

#enemies {
	position:fixed;
	bottom:10px;
	left:7%;

	width:auto;
	height:auto;

	text-align: center;
}

div h2{
	color:red;
	font-size: 30px;
	position: absolute;
	left:0;
	top:30%;
}

#attack{
	position:absolute;
	left:21%;
	top:300px;
}