body{
	background: url(https://slack-imgs.com/?c=1&url=https%3A%2F%2Fi.imgur.com%2F6NIohRH.gif)fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
}

h1{
	font-family: 'Audiowide', cursive;
	font-size: 55px;
	color:#7df058;
	text-shadow: 2px 2px #ff0000;
	
	position:relative;
	float:right;
	right:15%;
	top:7px;
}

h2,h3,p{
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size: 30px;
	
	color:black;

	top:40px;
	left:50px;

	letter-spacing: 2px;
	text-shadow:
	    -1px -1px 0 #fff,
	    1px -1px 0 #fff,
	    -1px 1px 0 #fff,
	    1px 1px 0 #fff;
}

span{
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size: 30px;
	letter-spacing: 2px;
}


#footer{
	position:relative;
	width:100%;
	bottom:-230px;
}


#container{
	width:90%;
	height:95%;
	text-align: center;
	margin:auto;
}

.header{
	width:100%;
	height:90px;
	background-color: rgba(126,192,238,0.2);
	margin:auto;
}

#line1{
	position:relative;
	left: -25%;
}

#characters {
	position:relative;
	top:50px;
	left:5%;

	width:auto;
	height:auto;

	text-align: center;
}

div img{
	background-repeat: no-repeat;
	background-size: 100% 100%;

	min-height:120px;
	max-height:120px;
	min-width:120px;
	max-width:120px;

	float:left;

	border-radius: 10px;
	border: solid 2px grey;

	box-sizing: border-box;
	margin-top: 15px;
	margin-left: 15px;
	margin-right: 15px;
}

#opp {
	position:relative;
	top:50px;
	left:30%;

	width:auto;
	height:auto;

	text-align: center;
}

#enemies {
	position:relative;
	bottom:-400px;
	left:5%;

	width:auto;
	height:auto;

	text-align: center;
}

#stats{
	position:relative;
	right:0px;
	bottom:0px;

	width:auto;
	height:auto;
	background-color: rgba(126,192,238,0.2);
}

div h2{
	color:red;
	font-size: 30px;
	position: absolute;
	left:0;
	top:35%
}


/*  BUTTONS   */

#attack{
	position:absolute;
	left:0;
	top:230px;
}

#restart{
	position:relative;
	left:0;
	bottom:0;
};